//Some script tags for mustache templates
%script#album_template{ :type => "text/html" }
  %tr.album
    %td.album_name {{ album_name }}
    %td.add_album{ :title => "add album to playlist" } &nbsp;
%script#artist_template{ :type => "text/html" }
  %li.artist {{ artist_name }}
%script#track_template{ :type => "text/html" }
  %tr.track
    %td.track_number {{ track_number }} 
    %td.track_title {{ track_title }}
    %td.add_track{ :title => "add track to playlist" } &nbsp;
%script#playlist_item_template{ :type => "text/html" }
  %tr.playlist_item
    %td.position {{ position }}
    %td.track
      %div
        %p {{ track_number }}
        %span &nbsp;
    %td.title
      %div
        %p {{ title }}
        %span &nbsp;
    %td.artist
      %div
        %p {{ artist }}
        %span &nbsp;
    %td.album
      %div
        %p {{ album }}
        %span &nbsp;
    %td.time
      %div
        %p {{ time }}
        %span &nbsp;
    %td.file
      %div
        %p {{ file }}
        %span &nbsp;

#controls
  #buttons
    #media_control
      %ul#music_controls
        %li#previous &nbsp;
        %li#play &nbsp;
        %li#stop &nbsp;
        %li#next &nbsp;
      %ul#track_seek
        %li#seek_time 0:00
        %li#seek_bar
          %input{ :type => 'range', :min => '0', :max => '100' }
  #song_info
    #track_info
      #album_art= image_tag('no_art.png', :size => '75x75')
      #metadata
        %span#title Song Title
        #album_artist 
          #album_name
            %span.light from 
            %span.album_name Album Name
          #artist_name
            %span.light by
            %span.artist_name Artist Name
    %ul#repeat_shuffle
      %li.shuffle &nbsp;
      %li.repeat &nbsp;

#navigation
  %ul#nav_menu
    %li#search_button
      %span.title Search
      %span.divider &nbsp;
    %li#library_button
      %span.title Library
      %span.divider &nbsp;
    %li#filesystem_button
      %span.title Filesystem
      %span.divider &nbsp;
    %li#playlist_button Playlists
  #navigation_content
    #search_content
      #mpd_stream{ :class => 'jp-jplayer'}
    #library_content.hidden
      #artists
        %ul#artist_list
      #albums
        %table#album_list
      #tracks
        %table#track_list
          %thead
          %tbody
    #filesystem_content.hidden
      %h2 filesystem
    #playlist_content.hidden
      %h2 playlist
#playlist_header
  %table#playlist_table_header
    %thead
      %tr.header
        %th.track
          %div
            %span.heading
              %p #
            %span.border &nbsp;
        %th.title
          %div
            %span.heading
              %p Title
            %span.border &nbsp;
        %th.artist
          %div
            %span.heading
              %p Artist
            %span.border &nbsp;
        %th.album
          %div
            %span.heading
              %p Album
            %span.border &nbsp;
        %th.time
          %div
            %span.heading
              %p Time
            %span.border &nbsp;
        %th.file
          %div
            %span.heading
              %p File
#playlist
  %table#playlist_table
#clear_playlist{ :title => "Clear the current playlist" }
  = image_tag('refresh.png')
  Clear Playlist

#popup_content
  %a#popup_content_close= image_tag('cross.png')
  #large_album_art= image_tag('no_art.png', :size => '600x600')