#controls
  #buttons
    #control
      %ul#music_controls
        %li#previous &nbsp;
        %li#play &nbsp;
        %li#stop &nbsp;
        %li#next &nbsp;
      %ul#volume_control
        %li#volume_icon= image_tag('audio-volume-medium.png')
        %li#volume_seek
          %input{ :type => 'range', :min => '0', :max => '100' }
  #song_info
    #album_art= image_tag('trance.jpg', :size => '75x75')
    #track_info
      #metadata
        %span#title Chubb Sub
        %span#album_artist from Last Chance to Dance Trance (perhaps) by Medeski Martin Wood
      #track_seek
        %input{ :type => 'range', :min => '0', :max => '100' }
  #settings
    %ul
      %li= image_tag('settings.png')
#navigation
  %ul#nav_menu
    %li Search
    %li Library
    %li Filesystem
    %li.last Playlists
  #artists
    %ul#artist_list
      %lh.artist Artist
      %li.artist All
  #albums
    %table#album_list
      %thead
        %th.album_name Album
        %th.add_album Add
      %tbody
  #tracks
    %table#track_list
      %thead
        %th.track_number #
        %th Title
        %th.add_track Add
#playlist
  %table#playlist_table
    %thead
      %th Track
      %th Title
      %th Artist
      %th Album
      %th Duration
      %th File
    %tbody