//Some script tags for mustache templates
%script#album_template{ :type => "text/html" }
  %tr.album
    %td.album_name {{ album_name }}
    %td.add_album{ :title => "add album to playlist" } &nbsp;
%script#artist_template{ :type => "text/html" }
  %li.artist {{ artist_name }}
%script#track_template{ :type => "text/html" }
  %tr.track
    %td.track_number {{ track_number }} 
    %td.track_title {{ track_title }}
    %td.add_track{ :title => "add track to playlist" } &nbsp;
%script#playlist_item_template{ :type => "text/html" }
  %tr.playlist_item
    %td.track
      %div
        %p {{ track_number }}
        %span &nbsp;
    %td.title
      %div
        %p {{ title }}
        %span &nbsp;
    %td.artist
      %div
        %p {{ artist }}
        %span &nbsp;
    %td.album
      %div
        %p {{ album }}
        %span &nbsp;
    %td.time
      %div
        %p {{ time }}
        %span &nbsp;
    %td.file
      %div
        %p {{ file }}
        %span &nbsp;

#controls
  #buttons
    #media_control
      %ul#music_controls
        %li#previous &nbsp;
        %li#play &nbsp;
        %li#stop &nbsp;
        %li#next &nbsp;
      %ul#track_seek
        %li#seek_time 0:00
        %li#seek_bar
          %input{ :type => 'range', :min => '0', :max => '100' }
  #song_info
    #track_info
      #album_art= image_tag('trance.jpg', :size => '75x75')
      #metadata
        %span#title Chubb Sub
        #album_artist 
          #album_name
            %span.light from 
            %span.album_name Last Chance to Dance Trance (perhaps)
          #artist_name
            %span.light by
            %span.artist_name Medeski Martin Wood
  #settings
    %ul
      %li= image_tag('settings.png')
      %li.volume= image_tag('audio-volume-low.png')
#navigation
  %ul#nav_menu
    %li#search_button
      Search
      %span &nbsp;
    %li#library_button
      Library
      %span &nbsp;
    %li#filesystem_button
      Filesystem
      %span &nbsp;
    %li#playlist_button Playlists
  #navigation_content
    #search_content.hidden
      %h2 The search pane
    #library_content
      #artists
        %ul#artist_list
      #albums
        %table#album_list
      #tracks
        %table#track_list
          %thead
          %tbody
    #filesystem_content.hidden
      %h2 filesystem
    #playlist_content.hidden
      %h2 playlist
#playlist
  %table#playlist_table
    %thead
      %tr.header
        %th.track
          %div
            %span.heading
              %p #
            %span.border &nbsp;
        %th.title
          %div
            %span.heading
              %p Title
            %span.border &nbsp;
        %th.artist
          %div
            %span.heading
              %p Artist
            %span.border &nbsp;
        %th.album
          %div
            %span.heading
              %p Album
            %span.border &nbsp;
        %th.time
          %div
            %span.heading
              %p Time
            %span.border &nbsp;
        %th.file
          %div
            %span.heading
              %p File
    %tbody