@import compass
@import compass/reset
@import blueprint/form
@import blueprint/colors
@import blueprint/interaction
@import blueprint/liquid

$blueprint-liquid-grid-columns: 24
$blueprint-liquid-grid-width: 4.125%
$blueprint-liquid-grid-margin: 0
$blueprint-liquid-container-width: 99%


