@import "media/*.png"
@include all-media-sprites

@mixin selected
  background-color: $dark-blue
  color: rgb(255, 255, 255)

@mixin vertical-scroll
  overflow-y: scroll
  overflow-x: hidden

@mixin inset-box
  +box-sizing(border-box)
  +box-shadow(rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0 inset)
  +border-radius(4px)
  background-color: rgba(0, 0, 0, 0.3)
  color: rgba(254, 254, 254, 0.8)

#controls, #navigation, #playlist
  float: none
  clear: both

#controls
  height: 90px
  margin: 10px 10px 15px 10px
  overflow: hidden
  div
    +float(left)
  #buttons
    width: 195px
    height: 90px
    #media_control
      #music_controls
        +horizontal-list
        +no-bullets
        margin-top: 10px
        margin-left: 5px
        li
          cursor: pointer
          width: 32px
          height: 32px
          padding: 0
          margin-left: 20px
          background-color: $dark-grey
        li#previous
          @include media-sprite(white_rewind)
          margin-left: 0px
        li#previous:active
          @include media-sprite(blue_rewind)
        li#play
          @include media-sprite(white_play)
        li#play:active
          @include media-sprite(blue_play)
        li#play.pause
          @include media-sprite(white_pause)
        li#play.pause:active
          @include media-sprite(blue_pause)
        li#stop
          @include media-sprite(white_stop)
        li#stop:active
          @include media-sprite(blue_stop)
        li#next
          @include media-sprite(white_fast_forward)
        li#next:active
          @include media-sprite(blue_fast_forward)
      #track_seek
        +horizontal-list
        +no-bullets
        margin-top: 20px
        li#seek_time
          width: 22px
          margin-right: 10px
          line-height: 21px
        li#seek_bar
          width: 155px
          margin: 0
          padding: 0
          input
            width: 100%
            margin: 0
            padding: 0
  #song_info
    +inset-box
    height: 90px
    padding: 7px
    margin-left: 15px
    font-family: "comfortaa-bold"
    span
      display: block
      font-size: 14pt
    #track_info
      #album_art
        img
          margin-left: 3px
          border: 1px $off-white solid
      span.light
        font-family: "comfortaa-light"
        margin-right: 10px
      #artist_name, #album_name
        float: none
        display: block
        span
          +float(left)
          display: inline
      #metadata
        padding: 5px 15px
        span#title
          margin-bottom: 5px
        #album_artist
          #album_name
            margin-bottom: 7px
            height: 14pt
    ul#repeat_shuffle
      +no-bullets
      +float(right)
      li
        height: 16px
        width: 16px
        cursor: pointer
      li.shuffle
        @include media-sprite(black_shuffle)
      li.shuffle.selected
        @include media-sprite(blue_shuffle)
      li.repeat
        @include media-sprite(black_repeat)
        margin-top: 10px
      li.repeat.selected
        @include media-sprite(blue_repeat)

#navigation
  margin-top: 0
  ul#nav_menu
    +horizontal-list
    +no-bullets
    display: block
    border-bottom: 1px #000 solid
    border-top: 1px #000 solid
    li
      width: 25%
      padding: 0
      margin: 0
      text-align: center
      color: rgb(0, 0, 0)
      height: 25px
      line-height: 25px
      cursor: pointer
      span.divider
        border-right: 1px #000 solid
        float: right
      span.title
        width: 97%
        float: left
      background-color: rgba(220, 220, 220, 0.9)
    li.current
      background-color: $light-blue
    li:hover
      background-color: rgba(255, 255, 255, 0.9)
    li:active
      background-color: $light-blue
    li#playlist_button
      border-right: 0
  div
    +float(left)
    height: 100%
    margin-top: 0
  div.hidden
    display: none

  #navigation_content
    width: 100%
    background-color: $dark-grey
    & > div
      width: 100%

  #artists
    +inset-box
    width: 33%
    +vertical-scroll
    border-right: 1px #000 solid
    ul#artist_list
      +no-bullets
      width: 100%
      lh
        @include background(linear-gradient(to bottom, rgb(242, 242, 242), rgb(220, 220, 220)))
        color: rgb(0, 0, 0)
        width: 100%
      li:nth-child(even)
        background-color: rgba(65, 65, 65, 0.3)
        color: darken($off-white, 10%)
      li
        cursor: pointer
        padding: 3px 7px
      li.selected
        +selected

  #albums
    +inset-box
    width: 33%
    +vertical-scroll
    table#album_list
      +no-bullets
      width: 100%
      tr:nth-child(even)
        background-color: rgba(65, 65, 65, 0.3)
        color: darken($off-white, 10%)
      tr
        width: 100%
      tr.album
        cursor: pointer
      tr.selected
        +selected
    a.add_album 
      width: 16px
    td.album_name
      padding: 3px 0
      padding-left: 5px
    .add_album
      width: 16px
      position: relative
      right: 7px
    td.add_album
      background: url('list-add.png') no-repeat top right
  #tracks
    width: 34%
    +inset-box
    +vertical-scroll
    +last
    table#track_list
      +no-bullets
      margin-left: 5px
      width: 100%
      tr:nth-child(even)
        background-color: rgba(65, 65, 65, 0.3)
        color: darken($off-white, 10%)
      tr
        width: 100%
      tr.track
        cursor: pointer
      tr.selected
        +selected
    td.track_number, th.track_number
      width: 25px
    td.track_title
      padding: 3px 0
    .add_track
      position: relative
      right: 7px
      width: 16px
    td.add_track
      background: url('list-add.png') no-repeat top right

$table-font-size: 12pt
$table-header-font-size: 14pt

#playlist_header, #playlist
  border-top: 1px #000 solid
  table tr
    .track
      width: 2%
      p
        text-align: center
    .title
      width: 23%
    .artist
      width: 21%
    .album
      width: 22%
    .time
      width: 7%
      p
        text-align: center
    .file
      width: 25%
#playlist_header
  background-color: rgb(220, 220, 220)
  height: 25px
#playlist
  +vertical-scroll
  margin-bottom: 4px
  +inset-box
table#playlist_table_header
  width: 100%
  tr.header
    background-color: rgba(220, 220, 220, 0.9)
    color: rgb(0, 0, 0)
    height: 25px
    line-height: 25px
    th
      text-align: center
      div
        height: $table-header-font-size + 2
        span.heading
          float: left
          display: block
          width: 89%
          p
            margin: 0 auto
            padding: 0
        span.border
          width: 1px
          border-right: 1px rgb(0, 0, 0) solid
          +float(right)

table#playlist_table
  width: 100%
  tr
    border-bottom: 1px rgb(69, 69, 69) solid
    td
      height: $table-font-size
      overflow: hidden
      div
        overflow: hidden
        font-size: $table-font-size
        line-height: $table-font-size
        height: $table-font-size + 4
        width: 100%
        p
          +float(left)
          height: $table-font-size + 4
          line-height: $table-font-size + 4
          overflow: hidden
          display: block
          width: 96%
          margin-left: 2%
        span
          border-right: 1px rgb(69, 69, 69) solid
          +float(right)
          width: 1%
          height: $table-font-size + 4
  tr:nth-child(even)
    background-color: rgba(65, 65, 65, 0.3)
    color: darken($off-white, 10%)
  tr.blank
    border-bottom: 0
#clear_playlist
  margin-bottom: 3px
  cursor: pointer
#clear_playlist:active
  color: $blue

